:root{
    --cyan: #197278;
    --green: #283d3b;
    --gray: #edddd4;
    --red: #c44536;
    --brown: #772e25;
}
body{
    overflow: hidden;
    background-color:var(--cyan);
}
.control{
    position: absolute;
    bottom: -9px;
    height: 50px;
    width: 85vw;
    border-radius: 10px ;
    padding: 20px;
    justify-content: center;
    align-content: center;
    background-color: var(--gray);
}

.control button{
    border-radius: 10px;
    background-color: var(--red);
    color: white;
    padding: 8px;
    border: none;
    margin: 10px;
}
.control button:hover{
    background-color: var(--brown);
}